        .dashboard {
            margin: 1rem;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        /* The navBar style*/
        
        .Navbar {
            margin: 0;
            position: relative;
            top: 0%;
            background: #17324d;
            color: whitesmoke;
            width: 100%;
            height: 8vh;
            border-top-left-radius: 50px;
            border-top-right-radius: 50px;
        }
        
        .Navbar ul {
            list-style: none;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 50%;
            transform: translate(-50%);
        }
        
        .Navbar li {
            display: inline-block;
            margin-top: .5rem;
        }
        
        .Navbar li:nth-child(1) {
            float: left;
            margin-top: 1rem;
            margin-left: 3rem;
        }
        
        .Navbar li:nth-child(2) {
            text-align: center;
        }
        
        .Navbar li:nth-child(3) {
            float: right;
            margin-top: 1rem;
            margin-right: 3rem;
        }
        /*  end of navbar style */
        /* quizzs styles */
        
        .gridcontainer {
            overflow-y: scroll;
        }
        
        .wrapper {
            height: 56vh;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 5rem;
            align-items: center;
            margin-left: 1rem;
            margin-right: 1rem;
            margin-top: 3rem;
            text-align: center;
        }
        
        .QuizzContainer {
            position: relative;
            background: linear-gradient(to left, #bdc3c7, #2c3e50);
            height: 20vh;
            box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
            border-style: solid;
            border-radius: 1rem;
        }
        
        .QuizzContainer hr {
            width: 80%;
            height: 3px;
            background: black;
            border-style: none;
            position: relative;
            align-self: center;
            transform: translate(10%);
            border-radius: 20px;
        }
        
        .QuizzContainer button {
            margin: 1.2rem;
            box-shadow: 3px 4px 0px 0px black;
            background: linear-gradient(to bottom, #79bbff 5%, #17324d 100%);
            background-color: #17324d;
            border-radius: 5px;
            border: 1px solid #337bc4;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-family: Arial;
            font-size: 17px;
            font-weight: bold;
            padding: 12px 44px;
            text-decoration: none;
            text-shadow: 0px 1px 0px #528ecc;
        }
        
        .myButton:hover {
            background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
            background-color: #378de5;
        }
        
        .myButton:active {
            position: relative;
            top: 1px;
        }
        
        .QuizzContainer footer {
            font-size: 12px;
        }
        /*end of quizzs styles */